body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.3;
    background-color: #F1F1F1;
}
li {list-style: none;}
a {
    text-decoration: none;
    color: inherit;
}

/*********************************** 
Header : navigateur
************************************/
header {
    color: #fff;
    font-weight: 400;
    background-color: #2C3E50;
}
.logo{
    display: block;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    padding: 11px 0;
}
.navHeader {
    text-align: center;
}
.navHeader a {
    display: inline-block;
    margin: 0 12px;
    padding: 16px 0;
    color: rgba(255, 255, 255, 0.67);
    transition: 0.3s;
    line-height: 1.8;
}
.navHeader a:hover {
    color: #fff;
}

@media only screen and (min-width:690px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 64px; 
    }
    .logo, .navHeader a {
        padding: 0;
    }
    .logo {
        margin: 0 0 0 50px;
    }
    .navHeader {
        margin: 0 50px 0 0;
    }
    .navHeader a {
        margin: 0 30px;
    }
}


/*********************************** 
Container : Actu
************************************/
.content {
    display: grid;
    grid-template-columns: 20% 50% 30%;
}

/* Grid(1) */
.navContent {
    padding: 55px 50px;
}
.navContent a {
    display: block;
    line-height: 35px;
}
.navContent img {
    margin-right: 25px;
}
.navContent a:hover {
    text-decoration: underline;
    color: black;
    transition: 1s all ease;
}

/* Grid(2) */
main {
    padding: 25px 50px;
}
.imgProfil img {
    border-radius: 100%;
}
.actuA, .actuB {
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    background-color: #FFFFFF;
}
.profil {
    background-color: #FFFFFF;
    padding: 10px;
    display: flex;
    align-items: center;
}
.profil p {
    display: block;
    margin-left: 10px;
}
.Pseudo {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 0;
    color: rgba(0, 0, 0, 0.87);
}
.min {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.38);
}
.imgActuA {
    width: 100%;
}
.imgActuA img {
    width: 100%;
}
.twitt {
    padding: 15px;
}
.footerA {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #dbdbdb;
    padding: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #BDBDBD;
}
.like, .coment {
    display: flex;
    align-items: center;
}
.like img, 
.coment img {
    margin-right: 10px;
    cursor: pointer;
}
.actuAB {
    margin-top: 20px;
}
/* Grid(3) */
aside{  
    padding: 25px 90px 0 10px;
}
.twittB {
    padding: 10px 15px 10px 15px;
}
@media only screen and (max-width:1150px) {
    .content {
        display: block;
    }
    main, aside {
        padding: 10px;
    }
}

